*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #131519;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
#container{
    padding: 40px;
    background-color: #212932;
    border-radius: 50px;
    width: 30vw;
}
#item1{
    width: 10%;
padding: 10px;
background-color: #272F39;
border-radius: 50px;
}
#item1 img{
    width: 40px;
    

}
#item2{
    padding: 20px 15px;
    color: #B7BDC3;
    font-size: 1.5em;
}
#item3{
    color: #c9cdd380;
    font-size: 1.3em;
    padding: 0px 50px;
}
#item4{
display: flex;
gap: 5px;
padding: 5px;
}
#item4 .num{

padding: 34px 40px;
flex-flow: row wrap;
background-color: #272F39;
color: #B7BDC3;
border-radius: 550px;
 transition: 0.5s;
 font-size: 1.3em;

}

#item4 .num:hover{
    background-color: white;
    color: black;
    transition: 0.5s;


}
#item5{
 padding: 20px;
}
button {
       border: none;
    margin: auto;
    background-color: #FD7715;
    padding: 20px;
    width: 100%;
    border-radius: 50px;
    font-size: 1.3em;
   font-weight: bolder;
    transition: 0.5s;
}
button:hover{
    background-color: white;
     transition: 0.5s;
}


.item{
  margin: 10px;
}

.ativo {
    background-color: #FD7715 !important;
    color: white !important;
}