body {
    background-color: lightskyblue;
    font: normal 15pt arial;
}
header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}